/**
 * ST Social Feed
 * 
 * 
 * @package WordPress
 * @subpackage st-social-feed
 * @author Sumit Tiwari
 */

@charset "utf-8";

.st-insta-feed-wrapp {
	overflow: auto;
}

.st-insta-box {
	float: left;
}

.st-insta-box img {width: 100%;}